# Android Studio / IntelliJ
*.iml
.idea/

# Gradle
.gradle/
build/
app/build/

# Local Android configuration
local.properties

# Native build files
.externalNativeBuild/
.cxx/

# Captures
captures/

# Node / npm files
node_modules/
package.json
package-lock.json

# Environment variables
.env
*.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db